{% extends 'base.html' %}
{% load static %}

<head>

</head>

{% block content %}
<body style="background-image: url('{% static 'background2.jpg' %}');">
  <div class="container jumbotron" >
      <form method="POST" action="">
          {% csrf_token %}
        <h1>Login</h1>
        <label for="username">Username</label>
        <p><input type="text" name="username" placeholder="Username..."></p>
        <label for="password">Password</label>
        <p><input type="password" name="password" placeholder="Password..."></p>
        <input class="btn btn-success" type="submit" value="Login">
      </form>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
</body>
{% endblock %}
